:root {
  --bgwhite: #fafafa;
  --bggray: #f1f2f0;
  --tgreen: #60aa95;
  --pgray: #b4b4b4;
  --vgray: #898c87;
  --bgray: #475b63;
  --descgray: #4c4c4c;
  --sgray: #2d3f46;
}

body {
  background-color: var(--bgwhite);
}

.App {
  width: 900px;
}